/* ----- element styles ----- */
html,
body {
    background-color: aliceblue;
}

button {
    color: white;
    background-color: #01569c;
    border: 2px outset gray;
}

/* ----- class styles ----- */
.gif {
    width: 90%;
    border: 2px outset gray;
}

/* ----- id styles ----- */
#container {
    font-family: 'Arial',
        'Helvetica Neue',
        Helvetica,
        sans-serif;
}