/* ----- element styles ----- */
html,
body {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    background-color: wheat;
    background: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    color: white;
    background-color: #01569c;
    border: 2px outset gray;
}

/* ----- class styles ----- */
.gif {
    width: 90%;
    border: 2px outset gray;
}

/* ----- id styles ----- */
header {
    font-family: 'Arial',
        'Helvetica Neue',
        Helvetica,
        sans-serif;
}

#instruction {
    padding: 3px;
    margin: auto;
    background: rgba(245, 245, 247, 0.7);
}